{% extends 'Navbar.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% block Favicons %}
      <link rel="shortcut icon" href="/Static/Favicons/project.jpeg" type="image/x-icon" />
    {% endblock %}

    {% block title %}
      <title>Project</title>
    {% endblock %}

    {% comment %}bootstrap{% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />

    {% comment %}Link CSS File{% endcomment %}
    {% block css %}
      <link rel="stylesheet" href="/Static/CSS/Project.css" />
    {% endblock %}
  </head>

  <body>
    {% block sec %}
      <div id="div">
        <h1>Projects.</h1>
        <h4>Some of my most recent works.</h4>
      </div>
    {% endblock %}

    {% block content %}
      <section id="pro">
        <h1>Projects</h1>
        <div>
          <img src="/Static/Images/Project15.jpg" alt="" />
          <h3>Ecommerce Website Design</h3>
          <p>Ecommerce (or electronic commerce) is the buying and selling of goods or services on the Internet. It encompasses a wide variety of data, systems and tools for online buyers and sellers, including mobile shopping and online payment encryption.</p>
          <button id="btn">View</button>
          <button id="btn1">Source</button>
        </div>
        <div>
          <img src="/Static/Images/Project17.png" alt="" />
          <h3>LMS/Course Website Design</h3>
          <p>A learning management system (LMS) or virtual learning environment (VLE) is a software application for the administration, documentation, tracking, reporting, automation, and delivery of educational courses, training programs, materials or learning and development programs.</p>
          <button id="btn">View</button>
          <button id="btn1">Source</button>
        </div>
        <div>
          <img src="/Static/Images/Project18.png" alt="" />
          <h3>Rymo Ecommerce Design</h3>
          <p>"A world-class, cutting-edge design and development enterprise, helping people globally rediscover their mobility, through a suite of value for money 'smart' products that enables measurable clinical outcomes, in active partnership with healthcare service providers".</p>
          <button id="btn">View</button>
          <button id="btn1">Source</button>
        </div>
      </section>

      <section id="pure">
        <div>
          <h3>- Basic -</h3>
          <hr />
          <h1>$100</h1>
          <h3>- 3 Days -</h3>
          <h3>- 3 Pages -</h3>
          <h3>- Featured -</h3>
          <h3>- Responsive Design -</h3>
          <button id="btn">Purchase Now</button>
        </div>
        <div>
          <h3>- Premium -</h3>
          <hr />
          <h1>$200</h1>
          <h3>- 2 Days -</h3>
          <h3>- 5 Pages -</h3>
          <h3>- Featured -</h3>
          <h3>- Responsive Design -</h3>
          <button id="btn">Purchase Now</button>
        </div>
        <div>
          <h3>- Business -</h3>
          <hr />
          <h1>$300</h1>
          <h3>- 5 Days -</h3>
          <h3>- 8 Pages -</h3>
          <h3>- Featured -</h3>
          <h3>- Responsive Design -</h3>
          <button id="btn">Purchase Now</button>
        </div>
      </section>
    {% endblock %}
  </body>
</html>
